body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    margin: 0;
    
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

.header {
    text-align: center;
    padding-top: 25px;
}

img {
    width: 100%;
    max-width: 400px;
    max-height: 650px;
    object-fit: cover;
}

.image-quote {
    display: flex;
    flex-direction: column;
    width: 850px;
    margin: auto;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.footer {
    margin: 50px 0 25px;
    text-align: center;
    border-top: solid gray 2px;
    padding-top: 10px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #f4f4f4;
    border-bottom: solid grey 2px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown-red, .dropdown-white {
    float: left;
    overflow: hidden;
}

.dropdown-red, .dropdown-white, .dropbtn-red, .dropbtn-white {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown-red:hover, .dropdown-white:hover, .dropbtn-red:hover, .dropbtn-white:hover {
    background-color: #ddd;
}

/* Change the min-width and box-shadow later or remove it */

.dropdown-red-content, .dropdown-white-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-red-content a, .dropdown-white-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-red-content a:hover, .dropdown-white-content a:hover {
    background-color: #ddd;
}

.dropdown-red:hover .dropdown-red-content, .dropdown-white:hover .dropdown-white-content {
    display: block;
}